.book-search-plugin__settings .search-input-container {
  width: 100%;
} 

.book-search-plugin__settings--new_file_name {
  padding-bottom: 0;
  margin-bottom: 0;
}
.book-search-plugin__settings--new_file_name_hint {
  margin-bottom: 20px;
}